body {
	position: absolut;
	margin: 0em;
}
h1,h2,h3 {
	color: #e61933;
	font-family: "Cinzel"; 
	margin-top: 0.5em;
	}
p {
	font-family: "Josefin Sans";
	color: #ffffff;
	text-align: justify;
	line-height: 1.5em;
	margin: 1em;
}
a {
	color: #fb00ff;
}
ol {
	background-image: linear-gradient(to bottom right, black, blue);
	line-height: 1.3em;
	font-family: sans-serif;
	background-color: #eb14ca;
	width: 800px;
    padding: 30px;
    margin: 20px;
	border-top-right-radius: 70px;
	border-bottom-right-radius: 70px;
}
li {
	color: white;
	font-weight: bold;
	line-height: 2em;
	margin-left: 2em;
}
.cpy_white{
	color: white;
	margin-left: 30em;
}
.bg_video_wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 190vh;
  background: src(video/bgvideo.mp4) no-repeat center center/cover;
}
video {
  min-width: 100%;
  min-height: 100vh;
  z-index: 1;
  opacity: 75%;
}
.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-size: 3px 3px;
  z-index: 2;
  margin: 1em;
}
.bgblack {
	background-color: black;
	padding-top: 2em;
	padding-bottom: 2em;
	padding-left: 1em;
	border-radius: 1em;
}
.bgblack2{
	background-color: black;
    padding-left: 1em;
	width: 10%;
	border-radius: 1em;
}
@import url('https://fonts.googleapies.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	
}
:root
{
	--clr: #fff;
}
body
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: var(--clr);
}
.navigation
{
	position: relative;
	padding-top: 3em;
	padding-bottom: 1em;
	width: 400px;
	height: 70px;
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: -5em;
	float: right;
	border-radius: 10px;
}
.navigation ul
{
	display: flex;
	width: 350px;
}
.navigation ul li
{
	position: relative;
	list-style: none;
	width: 70px;
	height: 70px;
	z-index: 1;
}
.navigation ul li a 
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	text-align: center;
	font-weight: 500;
}
.navigation ul li a .icon
{   
    position: relative;  
    display: block;
	line-height: 75em;
    font-size: 1.5em;
	text-align: center;
	transition: 0.5s;
	color: var(--clr);
}
.navigation ul li:hover a .icon
{
	transform: translateY(-30px);
}
.navigation ul li a .text
{
	position: absolute;
	color: var(--clr);
	font-weight: 400;
	font-size: 0.75em;
	letter-spacing: 0.05em;
	transition: 0.5s;
	opacity: 0;
	transform: translateY(20px);
}
.navigation ul li:hover a .text
{
	opacity: 1;
	transform: translateY(10px);
}
