@import url('https://fonts.googleapies.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
* {
	margin:0;
	padding:0;
}
body {
	margin: 0em;
	background-image: linear-gradient(to bottom right, #525252, black);
	font-family: sans-serif;
	position: relative;
}
p {
	color: white;
	position: relative;
}
header.viewport-header {
	display: flex;
	flex-direction:row;
	align-items: center;
	justify-content:space-between;
	padding: 1em;
	background-color: black;
	border-radius: 15px;
	flex-wrap:wrap;
	
}
a {
	color: #3b9cc4;
}
h2 {
	text-align: center;
	background-color: gray;
	font-family: 'Cinzel';
	position: relative;
}
strong {
	color: #d22da3;
	font-family: 'Pacifico';
	font-size: 140%;
	position: relative;
}
header.viewport-header nav.right a {
 	padding: 15px;
	color: black;
	background-color: white;
	text-decoration: none;
	border-radius: 2em;
	border: 3px solid #1fa8e0;
	font-weight: bold;
	margin-left: 1em;
	position: relative;
}
header.viewport-header nav button {
	padding: 15px;
	margin-left: 1em;
	position: relative;
}

header.viewport-header div.left h1{
	font-family: 'Acme';
	font-size: 150%;
	display:inline;
	flex-wrap: wrap;
	color: #fff;
	position: absolute;
	margin-top: 0.7em;
}
header div.left img {
	width: 60px;
	height: 60px;
	border-radius: 2em;
	margin-right: 10px;
	border: 3px solid #f108f7;
	position: relative;
}
section.content p{
	margin: 1em;
	text-align: justify;
	font-family: 'Raleway';
	line-height: 150%;
	position: relative;
}
section.center p{
	font-family: 'Padauk';
	margin-left: 20em;
	margin-right: 20em;
	text-align: center;
	margin-top: 1em;
	margin-bottom: 2em;
	padding: 2em;
	border-radius: 2em;
	border: 2px solid white;
	position: relative;
}
div.list ol {
	background-color: black;
	color: #1fa8e0;
	font-family: 'Pacifico';
	text-align: center;
	position: relative;
}
section.footer {
	text-align: center;
	line-height: 150%;
	font-family: 'Padauk';
	padding: 1em;
}
section.footer p{	
	margin-bottom: 1em;
	position: relative;
}

section.footer div a {
	text-align: center;
	padding-left: 1em;
	text-decoration: none;
    font-size: 130%;	
}
section.footer img {
	width: 90px;
	height: 50px;
	margin-left: -6em;
	border-radius: 150px;
	float: right;
	position: relative;
}
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 30%;
}